.header-container{
    background-color: rgb(62,68,80);
}
.nav-style{
    text-decoration: none;
    margin: 5px;
    color: white;
    font-size: large;
    font-weight: 500;
    padding: 5px;
}

.nav-style:hover{
    color: rgb(84, 223, 223);
    border: 1px solid ghostwhite;
    border-radius: 10px;
}